@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0044ff;
}
.movie-card h3 {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.movie-card .CircularProgressbar .CircularProgressbar-text {
  font-size: 42px;
}
@media (max-width: 768px) {
  .movie-card .CircularProgressbar .CircularProgressbar-text {
    font-size: 38px;
  }
}